.section {
  margin: 0 auto;
  max-width: 1980px;
  margin: 0 15rem;

  @include respond(big-desktop) {
    margin: 0 auto;
  }

  @include respond(lg) {
    margin: 0 10rem;
  }

  @include respond(md) {
    margin: 0 8rem;
  }

  @include respond(sm) {
    margin: 0 5rem;
  }

  @include respond(tab) {
    margin: 0 3rem;
  }

  @include respond(phone) {
    margin: 0 2rem;
  }
}
.heading {
  font-family: Roboto;
  display: flex;
  flex-direction: column;

  &__right {
    text-align: right;
    align-items: flex-end;
  }

  &__main {
    margin-bottom: 5rem;
    font-size: 20rem;
    font-weight: 700;
    color: $color-white;
    opacity: 0.5;
    text-shadow: 0 8px 16px rgba($color-grey-light, $alpha: 0.15);

    @include respond(tab) {
      font-size: 15rem;
    }
  }

  &__sub {
    margin: 2rem 0 2rem;
    font-size: 4rem;
    color: $color-grey-dark;
    max-width: 40%;
    min-width: 500px;
  }

  &__small {
    text-transform: uppercase;
    color: $color-grey;
    letter-spacing: 2px;
    font-size: 1.6rem;
  }
}
